<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" href="/css/auth.css"/>
    <link rel="icon" href="/images/icon.ico" type="image/x-icon">
</head>
<body>

<h2>Система мониторинга состояния технических средств</h2>
<div class="container" id="container" >
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Новый аккаунт</h1>
            <span>заполните поля для регистрации</span>
            <input id="SurnameReg" maxlength="50" required pattern="[а-яА-Яa-zA-Z]{1,50}"
                   title="от 1 до 50 латиница, кириллица, цифры" type="text" placeholder="Фамилия"/>
            <input id="NameReg" maxlength="50" required pattern="[а-яА-Яa-zA-Z0-9]{1,50}"
                   title="от 1 до 50 латиница, кириллица, цифры" type="text" placeholder="Имя"/>
            <input id="PatronymicReg" maxlength="50" required pattern="[а-яА-Яa-zA-Z0-9]{1,50}"
                   title="от 1 до 50 латиница, кириллица, цифры" type="text" placeholder="Отчество"/>
            <input id="loginReg" maxlength="50" required pattern="[a-zA-Z0-9]{1,50}" title="от 1 до 50 латиница, цифры"
                   type="text" placeholder="Логин"/>
            <input id="passwordReg" maxlength="50" required pattern="[a-zA-Z0-9]{1,50}"
                   title="от 1 до 50 латиница, цифры" type="password" placeholder="Пароль"/>
            <button onclick="reg()">Зарегистрироваться</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Авторизация</h1>
            <br>
            <input id="loginAuth" maxlength="50" required pattern="[a-zA-Z0-9]{1,50}" title="от 1 до 50 латиница, цифры"
                   type="text" placeholder="Логин"/>
            <input id="passwordAuth" maxlength="50" required pattern="[a-zA-Z0-9]{1,50}"
                   title="от 1 до 50 латиница, цифры" type="password" placeholder="Пароль"/>
            <a style="text-decoration: underline" href="#">Забыли пароль?</a>
            <button onclick="auth()">Вход</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Добро пожаловать!</h1>
                <p>Войдите в свою учётную запись</p>
                <button class="ghost" id="signIn">Вход</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Хотите создать новый аккаунт?</h1>
                <p>Введите свои данные для регистрации</p>
                <button class="ghost" id="signUp">Регистрация</button>
            </div>
        </div>
    </div>
</div>
<script>const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
    container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
    container.classList.remove("right-panel-active");
});</script>
<script src="/js/GetCookie.js"></script>
<script src="/js/RequestSample.js"></script>
<script src="/js/Auth.js"></script>
<noscript>Включите JavaScript для просмотра контента.</noscript>
</body>
</html>