<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Система мониторинга</title>
    <link rel="stylesheet" type="text/css" href="/css/host.css"/>
    <link href="/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/images/icon.ico" type="image/x-icon">
    <link href="/css/toast.min.css" rel="stylesheet">
    <link href="/audio/info.mp3">
    <link href="/audio/warning.mp3">
</head>
<body style="background: #d3d3d3" onload="loadHeader(true, 'main');reload();loadHosts();
        if(getCookie('MonitoringCookieHostCheckID') !== ''&& getCookie('MonitoringCookieHostCheckPriority') !== ''){
            getIdHost(getCookie('MonitoringCookieHostCheckID'), getCookie('MonitoringCookieHostCheckPriority'));
        }">
<div id="header"></div>

<div style="display: flex">
    <div class="grid" id="host_grid" onload="">

    </div>
    <div style="overflow-y: auto;width: 29%; height: 550px; background: #4D5061; border-radius: 15px" id="hostInfo">

    </div>

</div>
<script src="/js/toast.min.js"></script>
<script src="/js/GetCookie.js"></script>
<script src="/js/RequestSample.js"></script>
<script src="/js/LoadHosts.js"></script>
<script src="/js/LoadHeader.js"></script>
<script src="/js/SearchHosts.js"></script>
<noscript>Включите JavaScript для просмотра контента.</noscript>
</body>
</html>