<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Система мониторинга</title>
    <link rel="stylesheet" type="text/css" href="/css/host.css"/>
    <link href="/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="/images/icon.ico" type="image/x-icon">
    <link href="/css/toast.min.css" rel="stylesheet">
    <link href="/audio/info.mp3">
    <link href="/audio/warning.mp3">
</head>
<body style="background: #d3d3d3" onload="loadHeader(false, 'profile');getProfile();reloadProfile();">
<div id="header"></div>
<h2 style="text-align: center">Профиль</h2>
<div id="profileData" class="form-container sign-up-container">
</div>
<script src="/js/GetCookie.js"></script>
<script src="/js/RequestSample.js"></script>
<script src="/js/Profile.js"></script>
<script src="/js/LoadHeader.js"></script>
<script src="/js/toast.min.js"></script>
<noscript>Включите JavaScript для просмотра контента.</noscript>
</body>
</html>